{% extends "base.html" %}
{% block content %}
    <h1 class="float-left">Lista de animais</h1>
    <a href="api/animais" class="mt-2 float-right">
        <label class="btn btn-info btn-sm">Ir para API</label>
    </a>
    <div class="table-responsive">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Alimentação</th>
                        <th>Estimativa de Vida</th>
                        <th>Categoria Animal</th>
                        <th>
                            <a href="{% url 'cadastrar' %}">
                                <button class="btn btn-success btn-sm">Cradastar Animal</button>
                            </a>
                        </th>
                    </tr>
                </thead>

                <tbody>
                {% for animal in animals %}
                    <tr>
                        <td>{{ animal.name }}</td>
                        <td>{{ animal.food }}</td>
                        <td>{{ animal.life_estimate }} {{animal.animal_age}}</td>
                        <td>{{ animal.animal_category }}</td>
                        <td>
                            <a href="{% url 'atualizar' pk=animal.id %}">
                                <label class="btn btn-secondary btn-sm">Editar</label>
                            </a>
                            <a href="{% url 'deletar' pk=animal.id %}">
                                <label class="btn btn-danger btn-sm">Excluir</label>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

    </div>
    <div class="pagination">
        <span class="step-links">
            <span class="current">
                Página {{ animals.number }} de {{ animals.paginator.num_pages }}.
            </span>
            {% if animals.has_previous %}
                <a href="?page=1">&laquo; primeira</a> -
                <a href="?page={{ animals.previous_page_number }}">anterior</a>
            {% endif %}

            {% if animals.has_next %}
                <a href="?page={{ animals.next_page_number }}">próxima</a> -
                <a href="?page={{ animals.paginator.num_pages }}">última &raquo;</a>
            {% endif %}

        </span>
    </div>
{% endblock %}
